In [4]:
number =23

if number >0:
    print("positive number")
elif number==o:
    print("zero")
else:
    print("negative number ")
    
print("this is a aswas print")

positive number
this is a aswas print

In [12]:
for i in range(5):
     print(i)

0
1
2
3
4

In [15]:
days=0
week=["mon","tue","wed","thiu","fri","satur","sun"]
while days<7:
    print("today is "+week[days])
    days +=1

today is mon
today is tue
today is wed
today is thiu
today is fri
today is satur
today is sun

In [18]:
week[0]

'mon'

In [19]:
#split

In [21]:
text=" i write a code "
text.split()

['i', 'write', 'a', 'code']

In [22]:
a= " mijdiuhd diduhs oisdiugs idududsyg"
a.split()

['mijdiuhd', 'diduhs', 'oisdiugs', 'idududsyg']

In [23]:
b=( "i love python")
b.split()

['i', 'love', 'python']

In [24]:
x=input("enter 3 word message ")

enter 3 word message welcome to pw

In [25]:
x.split()

['welcome', 'to', 'pw']

In [26]:
y=1

In [27]:
y,z=2,4

In [34]:
(a+b)

10

In [37]:
x=input("enter two number sepreactsd by space ")
sum =int(x.split()[0])+int(x.split()[1])
print(sum)

enter two number sepreactsd by space 4 6
10

In [ ]:
s=input("enter roll n0,name and percentage ")
roll,name,percentage =s.split()
print(roll)
print(name)
print(precentage)

enter roll n0,name and percentage 3 pw 45

In [ ]:
s = input("enter roll number, name, and percentage ")
roll, name, percentage = s.split()
print(roll)
print(name)
print(percentage)

enter roll number, name, and percentage 3 pw 45

In [1]:
s1="A B C D E F"
print(s1.split(" ",4))

['A', 'B', 'C', 'D', 'E F']

In [4]:
s1="hii@hii@hii@@hii"
s1.split("@",2)

['hii', 'hii', 'hii@@hii']

In [7]:
for letter in "shahanshah":
    print("letter",letter)

letter s
letter h
letter a
letter h
letter a
letter n
letter s
letter h
letter a
letter h

In [1]:
for letter in "shahanshah":
    if letter=="n":
        break
    print("letter",letter)

letter s
letter h
letter a
letter h
letter a

In [13]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [12]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
i=1

while i<=10:
    print(i)
    if i >=5:
         break
        i=i+5

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [13]:
i = 1

while i <= 10:
    print(i)
    if i < = 5:
        break
    i = i + 5

SyntaxError: invalid syntax (2896553634.py, line 5)

In [14]:
i = 1

while i <= 10:
    print(i)
    if i >= 5:
        break
    i = i + 5

1
6

In [3]:
number=[12,20,30,43,344,4334,6]
for i in number:
    if i >100:
        break
    print(i)

12
20
30
43

In [11]:
s= "mohammad , shaahnshaah"
for char in s :
    print(char)
    if char==", ":
        break

m
o
h
a
m
m
a
d

,

s
h
a
a
h
n
s
h
a
a
h

In [13]:
s = "hello,world"
for char in s:
    print(char)
    if char == ", ":
        break

h
e
l
l
o
,
w
o
r
l
d

In [18]:
for letter in "pwskill":
    if letter== "l":
            continue
    print(letter)

p
w
s
k
i

In [35]:
for i in range(5):
     if i==3:
        continue
     print(i)
    # break ..... end the loop 
    #continue ... skip thre loop

0
1
2
4

In [37]:
#write a program to print odd number from 1 to 10

In [46]:
for i in range (1,11):
    if i%2==0:
       continue 
    print(i)

1
3
5
7
9

In [47]:
for i in range (1,11):
    if i%2!=0:
       continue 
    print(i)

2
4
6
8
10

In [60]:
for i in range (1,11):
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10

In [61]:
n=10
if n>10:
    pass
print("hello")

hello

In [ ]:
for i in range(5):
    pass

In [62]:
if n>45:

SyntaxError: incomplete input (2115166931.py, line 1)

In [63]:
for letter in "pwskill":
    if letter== "l":
            pass
    print(letter)

p
w
s
k
i
l
l

In [66]:
for letter in "pwskill":
    if letter== "l":
            continue
    print(letter)

p
w
s
k
i

# function

In [67]:
a=10
b=20
print(a+b)

30

In [68]:
a=80
b=34
print(a+b)

114

In [69]:
a==b
print(a+b)

114

In [70]:
a=45
b=4
print(a+b)

49

In [71]:
def function( argument):
   #function

    return

In [72]:
def greet():
    print("shahnshah")

In [73]:
greet()

shahnshah

In [78]:
def addnum():
    a=10
    b=20
    c=a+b
    print(c)

In [79]:
addum()

30

In [80]:
addnum()

30

In [81]:
def addtwonumber():
    a=input("enter first number")
    b=input("enter second number")

    c=int(a)+int(b)
    print(c)

In [82]:
addtwonumber()

enter first number4
enter second number33
37

In [85]:
addtwonumber()

enter first number44
enter second number55
99

In [ ]:
addtwonumber()

In [9]:
def multwonumber(x,y):
    a=y
    b=y
    c=a*b
    print(c)

In [11]:
multwonumber(2,4)

16

In [8]:
def introduction(name):
    print("shahsnha",name)

In [9]:
introduction("pwskill")

shahsnha pwskill

In [13]:
def introduction(name,lastname):
    print("shahansha",name+lastname)

In [15]:
introduction("pw","skill")

shahansha pwskill

In [ ]:
-22  21
23.   -23

In [25]:
def absolute(n):
    if n>0:
        print(n)
        esle:
        print(-n)

SyntaxError: invalid syntax (3060806641.py, line 4)

In [26]:
def absolute(n):
    if n > 0:
        print(n)
    else:
        print(-n)

In [30]:
absolute(55)

55

In [23]:
def fullname(a,b):
    c=a+b
    return (c)

In [24]:
x=fullname("pw","skill")

In [25]:
print(x)

pwskill

In [26]:
type(x)

str

In [31]:
def calculator(a,b):
    a=a+b
    b=a-b
    e=a+b
    return a,b,e

In [32]:
calculator(3,5)

(8, 3, 11)

In [1]:
find area of circle -----3.3*r*r
find area of rec ------1*b
find area of tringle--1/2*b*h

SyntaxError: invalid syntax (3535405430.py, line 1)

In [2]:
def area_rect(l,b):
    area=l*b
    return area

In [3]:
area_rect(3,4)

12

In [6]:
def area(b,h):
    return 0.5*b*h

In [9]:
area(3,4)

6.0

print the first 5 positive integer in  accending order with one number in each line

In [15]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [13]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [22]:
def number():
    for i in range(6):
        print(i)
number()

0
1
2
3
4
5

In [19]:
def number():
    for i in range(6):
        print(i)

# Call the function
number()

0
1
2
3
4
5

3 accept an integer as input and its print its square as output

In [25]:
def sq():
    a=int(input("enter the number"))
    return a*a

In [26]:
sq()

enter the number12

144

4:accept two integer as input and print third sum as output

In [6]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3=num1+num2
print( num1+num2)

enter the first number33
enter the second number44
77

In [7]:
def print_sum():
    # Accept two integers as input
    num1 = int(input("Enter the first integer: "))
    num2 = int(input("Enter the second integer: "))
    
    # Calculate the sum
    total_sum = num1 + num2
    
    # Print the result
    print(f"The sum of {num1} and {num2} is: {total_sum}")

# Call the function
print_sum()

Enter the first integer: 45
Enter the second integer: 445
The sum of 45 and 445 is: 490

In [9]:
def fullname(first,second):
    print(first,"",second)

In [12]:
fullname("mohammad","shahahsnah")

mohammad  shahahsnah

create a python program that include a user define function cal print_even_number()

In [15]:
def print_even_number():
    limit1=int(input("enter the first limit of even number"))
    limit2=int(input("enter the second limit of even number"))
    for i in range(limit1,limit2+1):
        if i%2==0:
            print(i,end="  ")

In [18]:
 print_even_number()

enter the first limit of even number0
enter the second limit of even number50
0  2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50

# sesson end